* {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-width-desktop: 768px;
  --window-color: #1F1F1F;

  --primary-color: #05DCD3;

  --color-white-10: #ECF8FF;
  --color-white-20: #C9E2F0;

  --color-blue-20: #1C2C35;
  --color-blue-50: #5E8CA7;

  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
}

body {
  background-color: var(--window-color);
}
